* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--detail-color);
    font-size: 10px;
    --bg-color: #F9E4D4;
    --first-color: #D67D3E;
    --second-color: #D1512D;
    --detail-color: #411530;
    scroll-behavior: smooth;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: var(--second-color);
    width: 100%;
}

section {
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

p {
    font-size: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
}

/* ------ header ------- */
header {
    width: 100%;
    top: 0;
    box-sizing: border-box;
    position: sticky;
    z-index: 100;
}

.header_nav {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1% 1% 0% 1%;
    background-image: linear-gradient(to bottom, var(--first-color), var(--second-color));
}

.fa {
    color: var(--bg-color);
}

nav {
    align-items: center;
    padding: 1% 1%
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    position: relative;
}

.nav-links ul li a {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--bg-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* nav .fa {
    display: none;
} */

/* ------ home ------- */
#home {
    justify-content: center;
    align-items: center;
    margin-top:-1px;
}

.home_text {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-bottom: 15rem;
}

.home_text p{
    color: var(--detail-color);
}

.redirection_button {
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    background: var(--first-color);
    box-shadow: 2px 2px 7px var(--detail-color);
}

.redirection_button:hover {
    background: var(--second-color);
    transition: 1s;
}

.home button:hover::after {
    transition: 1s;
}

.home button::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    content: " ";
    /* display: block; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--first-color);
    z-index: -1;
    transition: transform .3s ease;
}

/* ------ Transition ------- */
.wave {
    width: 100%;
    margin-top:-1px;
    margin-bottom:-1px;
}

.wave svg {
    position: relative;
    width: 100%;
    height: 15rem;
    display: block;
    background-color: var(--bg-color);
}

.wave .shape-fill {
    fill: var(--second-color);
    background-color: var(--bg-color);
}

#wave_header{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#wave_header svg {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    background-color:initial;
}

#wave_header .shape-fill {
    fill: var(--second-color);
}

#wave_bottom {
    transform: rotate(180deg);
}

#wave_footer {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

#wave_footer svg {
    position: relative;
    display: block;
    width: 100%;
    height: 3rem;
    background-color: var(--second-color);
}

#wave_footer .shape-fill {
    fill: var(--first-color);
}

/* ------ Carousel ------- */
#carousel {
    background-color: var(--bg-color);
}

.slider {
    box-sizing: border-box;
    width: 80rem;
    height: 70rem;
    text-align: center;
    overflow: hidden;
}

.slider_navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 1rem 0;
    justify-content: center;
}

.slider_navigation a {
    background: var(--first-color);
    border-radius: 50%;
    margin: 0 0.5rem;
}

.slider_navigation a:active {
    border: var(--first-color);
}

.slider_navigation a:focus {
    background: var(--bg-color);
}

.slider_navigation a img {
    width: 4rem;
    height: 4rem;
}

.slider_navigation a:hover {
    background: var(--bg-color);
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

.slides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 70%;
    margin-right: 5rem;
    border-radius: 1rem;
    background: var(--first-color);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.slide h1 {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: auto;
    top: 3rem;
    font-size: 4rem;
    font-weight: bolder;
    font-style: italic;
    color: var(--bg-color);
}

.slide img {
    border-radius: 10px;
    width: 95%;
    height: 92%;
    z-index: 1;
    position: absolute;
}

.adress {
    z-index: 3;
    position: absolute;
    font-size: 2.5rem;
    font-weight: bolder;
    font-style: italic;
    color: var(--bg-color);
    bottom: 0;
}

.slides::-webkit-scrollbar {
    display: none;
}

/* ------ list ------- */
#list {
    background-color: var(--second-color);
}

#list h2, p{
    color: var(--bg-color);
}

.grid {
    display: grid;
    width: 100%;
    /* grid-template-columns: 30% 30% 30%; */
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    gap: 5%;
}

.grid_col {
    border-radius: 10px;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
    border: none;
}

.grid_col img {
    height: 100%;
    width: 100%;
}

.restaurant_layer {
    background: initial;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s;
}

.restaurant_layer a h3 {
    font-weight: bold;
    font-size: 2.5rem;
    top: 30%;
    bottom: 70%;
    right: 0%;
    left: 0%;
    text-align: center;
    position: absolute;
    color: var(--detail-color);
    opacity: 0;
    transition: 0.5s;
    transform: translateY(-50%);
}

.restaurant_layer a p {
    font-size: 2rem;
    font-style: italic;
    top: 50%;
    bottom: 48%;
    text-align: center;
    position: absolute;
    color: var(--detail-color);
    font-weight: bold;
    padding: 1%;
    opacity: 0;
    transition: 0.5s;
}

.restaurant_layer:hover {
    background: rgb(245, 199, 169, 0.7);
}

.restaurant_layer:hover a h3 {
    bottom: 49%;
    opacity: 1;
}

.restaurant_layer:hover a p {
    bottom: 49%;
    opacity: 1;
}

/* ------ footer ------- */
footer {
    background-color: var(--first-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 3% 0 3%;
}

.contact {
    padding-left: 2%;
    color: var(--bg-color);
}

.contact h1 {
    font-size: 3rem;
    color: var(--bg-color);
}

.contact p {
    font-style: italic;
    padding-left: 3%;
    color: var(--bg-color);
}

.footer_links {
    align-items: center;
    padding: 1% 6%
}

.footer_links {
    flex: 1;
    text-align: right;
}

.footer_links ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    position: relative;
}

.footer_links ul li a {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.footer_links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--bg-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.footer_links ul li:hover::after {
    width: 100%;
}

/* ------ medias -------*/
@media(max-width: 700px){
    * {
        font-size: 6px;
    }
    header {
        position:relative;
    }

    .slider {
        width: 290px;
        height: 200px;
    }

    /* .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5%;
    } */

    .grid_col {
        display: block;
        flex-direction: column;
    }

    .grid_col img {
        z-index: 1;
    }

    .restaurant_layer {
        position: relative;
        top: 0;
        z-index: 2;
    }
    
    .restaurant_layer a h3 {
        /* top: 30%;
        bottom: 70%;
        right: 0%;
        left: 0%; */
        position: relative;
        opacity: 1;
        z-index: 3;
    }
    
    .restaurant_layer a p {
        /* top: 50%;
        bottom: 48%; */
        position: relative;
        opacity: 1;
    }

    /* .text-box h1 {
        font-size: 25px;
    }

    .text-box h2 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #cddb9d;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        visibility: hidden;
        transition: 1s;
    }

    nav .fa {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        left:0;
    }

    .nav-links ul {
        padding: 30px;
    } */
}